.component-contact-row {
  border-bottom: 1px solid #ccc;
  margin: auto;
  width: 50%;
  padding: 10px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-align: center;
}

.component-contact-row:hover {
  background-color: #eee;
}

.component-contact-row .title {
  position: relative;
}

.component-contact-row .bold{
  font-weight: bold;
}

.component-contact-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-contact-row:hover .info {
  display: inline-block;
}